
section {
  border: 2px solid blue;
  width: 50%;
}


section img {
  border: 2px solid yellow; 
  margin: 30px;
  width:200px;
  max-height: 300px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}